.list {
	margin-bottom: 66px;
	p {
		font-family: DM Sans;
		color: #707070;
		font-size: 16px;
		font-weight: 400;
		line-height: 27px;
		letter-spacing: 0%;
		text-align: left;
		span {
			color: black;
		}
	}
}
