.container {
	max-width: 530px;
	margin: 39px auto 168px;
	padding: 0 15px;
}
.title {
	font-family: DM Sans;
	font-size: 33px;
	font-weight: 500;
	line-height: 1.2;
	text-align: center;
	margin-bottom: 37px;
}
.dislay_name_desc {
	color: rgba(112, 112, 112, 1);
	font-family: DM Sans;
	font-size: 12px;
	font-weight: 400;
	line-height: 100%;
}
.subtitle {
	font-family: DM Sans;
	font-size: 16px;
	font-weight: 700;
	line-height: 100%;
	margin: 48px 0 41px;
}
