.price {
	margin-top: 8px;
	color: 'rgb(112, 112, 112)';
	font-family: 'DM Sans';
	font-size: 14px;
}
.filter {
	font-family: DM Sans;
	color: rgb(161, 138, 104);
	font-size: 14px;
	font-weight: 400;
	line-height: 1.3px;
}
