.btn {
	height: 40px;
	width: 40px;
	border-radius: 4px;
	border: 1px solid rgb(216, 216, 216);
	border-radius: 4px;
	background-color: transparent;
}
.active {
	color: white;
	background-color: black;
	border: none;
}
