.container {
	margin-bottom: 250px;
	padding: 0 15px;
}
.title {
	font-family: DM Sans;
	font-size: 33px;
	font-weight: 500;
	line-height: 1.2;
	text-align: center;
	margin-top: 128.5px;
}
.subtitle {
	font-family: DM Sans;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.2;
	text-align: center;
	margin-top: 39px;
	margin-bottom: 76px;
}
